{% extends 'base.html' %}
{% block content %}

<h1>Log In</h1>

<form action="/login" method="POST">
    {{ form.csrf_token }}
    <legend>Enter your credentials</legend>
    <fieldset>
        {{ form.username.label }}
        {{ form.username }}
        <ul>
        {% for error in form.username.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.password.label }}
        {{ form.password }}
        <ul>
        {% for error in form.password.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>

<!-- <form action="/login" method="POST">
    {{ form.csrf_token }}
    <legend>Enter your credentials</legend>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      {{ form.username }}
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Make sure it easy to remember!</div>
      <ul>
        {% for error in form.username.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      {{ form.password }}
      <input type="password" class="form-control" id="exampleInputPassword1">
      <ul>
        {% for error in form.password.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit }}</button>
</form> -->

{% endblock %}
